{% extends "base.html" %}
{% block title %}{{block.super}} - {{state.name}}{% endblock %}

{% block main_content %}
    <h1>{{state.name}}</h1>
    <p>{{state.motto}}</p>
    <dl>
    {% for stat in state.stats %}
        <dt>{{stat.name}}</dt>
        <dd>{{stat.get_status}}<dd>
    {% endfor %}
    </dl>
    <dl>
        <dt>Currency</dt>
        <dd>{{state.currency}}</dd>
        <dt>National Animal</dd>
        <dd>{{state.animal}}</dd>
    </dl>
    <p>Country News Feed Goes Here</p>
{% endblock %}